h1, h2 {
    margin-top:10px;
    font-family: Calibri;
    font-size: 38px;
    font-weight: bold;
    color: #555;
    line-height: 50px;
}

body {
    font-family: Calibri;
}

.test {
  width: 1500px;
  margin: 0 auto;
}

#inline1 {display:inline-block;margin-right:50px;} 
#inline2 {display:inline-block;} 